<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .active {
        background-color: salmon;
        border: 0;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header>
        <img v-bind:src="gambar" width="500" alt="" />
        <h1 v-text="name"></h1>
        <h3>form submit</h3>
        <p>
          <input
            type="text"
            placeholder="Nama Kelas"
            v-on:keyup.enter="submit"
            v-model="kelasbaru"
          />
        </p>
        <h3>daftar kelas {{kelas.length}}</h3>
        <template v-if="kelas.length > 0">
          <ul>
            <li v-for="(k,index) of kelas">{{index + 1}} - {{k}}</li>
          </ul>
        </template>
        <li v-else>Kelas Belum Tersedia</li>
        <p>{{ kelas }}</p>
        <div>
          <label
            ><input type="checkbox" value="React" v-model="kelas" />React</label
          >
          <label
            ><input type="checkbox" value="Vue" v-model="kelas" />Vue</label
          >
          <label
            ><input
              type="checkbox"
              value="Angular"
              v-model="kelas"
            />Angular</label
          >
        </div>
        <h3>perulangan (1-5)</h3>
        <ul>
          <li v-for="x in 5">{{x}}</li>
        </ul>

        <h3>mencari bilangan genap {{numbers}}</h3>
        <ul>
          <li v-for="number in caribilangangenap(numbers)">{{number}}</li>
        </ul>

        <p>
          <button @click="handleClick">Tekan</button>
        </p>
        <h2 v-text="bilangan"></h2>
        <p>Bilangan ini Adalah Bilangan {{ GanGen }}</p>
        <h1>Vue Js</h1>
        <!-- <h1 v-once>{{ isActive ? 'succes' : 'danger'}}</h1> -->
        <!-- <h1>{{ pesan }}</h1> -->
        <!-- <h1 v-text="bilangan * 5"></h1> -->
        <!-- <p>Bilangan ini Adalah Bilangan {{ GanGen }}</p> -->

        <a
          v-bind:class="{active: menu === 'Home'}"
          href="#"
          @click.prevent="GantiMenu('Home')"
        >
          Home
        </a>
        <a
          v-bind:class="{active: menu === 'About'}"
          href="#"
          @click.prevent="GantiMenu('About')"
        >
          About
        </a>
        <a
          v-bind:class="{active: menu === 'Blog'}"
          href="#"
          @click.prevent="GantiMenu('Blog')"
        >
          Blog
        </a>
      </header>
      <footer>Vue Js 2021</footer>
    </div>
  </body>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

  <script>
    const member = {
      name: "doremifasilasido",
      pesan: "Hello World",
      isActive: true,
      qty: 3,
      namaDepan: "baul",
      namaBelakang: " huda",
      bilangan: 1,
      gambar: "image/1.jpg",
      menu: "Home",
      kelas: [],
      kelasbaru: "",
      numbers: [1, 2, 3, 4, 5],
    };
    const vm = new Vue({
      el: "#app",
      data: member,
      methods: {
        getname: function () {
          return `Hello ${this.name}`;
        },
        changeName: function (param) {
          this.name = param;
          return this.getname();
        },
        handleClick: function () {
          this.gambar = "image/2.jpg";
          return this.bilangan++;
        },
        GantiMenu: function (param) {
          const vm = this;
          vm.menu = param;
        },
        caribilangangenap: (param) => {
          return param.filter((angka) => {
            return !(angka % 2 == 0);
          });
        },
        submit: function () {
          this.kelas.unshift(this.kelasbaru);
          this.kelasbaru = " ";
        },
      },
      computed: {
        totalBayar: function () {
          return this.qty * 10000;
        },
        namaLengkap: function () {
          return this.namaDepan + this.namaBelakang;
        },
        GanGen: function () {
          if (this.bilangan % 2 == 0) {
            return "Genap";
          } else {
            return "Ganjil";
          }
        },
      },
    });
  </script>
</html>
