<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .active {
        background-color: salmon;
        border: 0;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header-component
        nama="Misbahul Huda"
        image="image/2.jpg"
      ></header-component>

      <nav>
        <router-link to="/">Home</router-link>
        <router-link to="/about">About</router-link>
        <router-link to="/kelas">Kelas</router-link>
      </nav>
      <main>
        <!-- <kelas
          v-bind:items="kelas"
          v-bind:kosong="kelasbaru"
          v-on:tambahkelas="submitkelas"
          v-on:hapuskelas="hapuskelasInduk"
        ></kelas> -->
        <!-- <home></home> -->
        <router-view
          v-bind:items="kelas"
          v-bind:kosong="kelasbaru"
          v-on:tambahkelas="submitkelas"
          v-on:hapuskelas="hapuskelasInduk"
        ></router-view>
      </main>
      <footer-component>
        <p>Vue Js 2021</p>
      </footer-component>
    </div>
  </body>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

  <script>
    const Home = {
      template: `<div>Home</div>`,
    };

    const About = {
      template: `<div>About</div>`,
    };

    const Kelas = {
      props: ["items", "kosong"],
      template: `
      <div>
      <h3>Tambah Kelas</h3>
        <p>
          <input
            type="text"
            placeholder="Nama Kelas"
            v-model="kosong"
            v-on:keyup.enter="$emit('tambahkelas', $event)"
          />
        </p>
        <h3>daftar kelas {{items.length}}</h3>
        <template v-if="items.length">
          <ul>
            <li v-for="(k,index) of items">{{ index + 1 }} - {{ k.judul }}
            <a href="" @click.prevent="$emit('hapuskelas',index)">hapus</a>
            </li>
          </ul>
        </template>
        <li v-else>Kelas Belum Tersedia</li></div>`,
      data: function () {
        return {};
      },
      methods: {},
    };

    Vue.component("header-component", {
      props: ["nama", "image"],
      template: `<header>
        <img v-bind:src="gambar" width="300" alt="" />
        <p>The progressive JS Framework</p>
        <p>{{pesan}}</p>
        <p>{{'Hello '+nama}}</p>
      </header>`,
      data: function () {
        return {
          pesan: "Hello COmponent",
          gambar: "image/1.jpg",
        };
      },
    });

    Vue.component("footer-component", {
      template: `<footer id="footer">
        <slot></slot>
      </footer>`,
    });

    const routes = [
      { path: "/", component: Home },
      { path: "/about", component: About },
      { path: "/kelas", component: Kelas },
    ];

    const router = new VueRouter({
      mode: "history",
      routes, // short for `routes: routes`
    });

    const member = {
      kelas: [
        {
          id: "1",
          judul: "Html",
          deskripsi: "ioni html",
          gambar: "image/1.jpg",
        },
        { id: "2", judul: "CSS", deskripsi: "ini css", gambar: "image/1.jpg" },
        { id: "3", judul: "JS", deskripsi: "ini js", gambar: "image/1.jpg" },
      ],
      kelasbaru: "",
    };
    const vm = new Vue({
      el: "#app",
      router,
      components: {
        home: Home,
      },
      data: member,
      methods: {
        hapuskelasInduk: function (param) {
          // console.log("testing");
          // console.log(param);
          this.kelas.splice(param, 1);
        },
        submitkelas: function (param) {
          const vm = this;
          // console.log(param);
          vm.kelas.unshift(param.target.value);
          vm.kelasbaru = "";
        },
      },
      computed: {},
    });
  </script>
</html>
